/* start navabar css */
.navbar {
    display: flex
}

.navbar .logo {
    width: 200px;
}

.navbar span {
    position: absolute;
    right: 20px;
    top : 32px;
}

.navbar span a {
    text-decoration: none;
    font-size: 2.1rem;
    color: #00204A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
/* end navabar css */

/* start designing landing page */

h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
}